@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-color: #ffbc6b;
}

.bg-1 {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/ignasi_pattern_s.png");
}
.bg-2 {
  background-image: url("lol.gif");
}

.transition {
  transition: all 0.1s ease-in;
}
