/* html {
    height: 100%;
}

body {
    background-image: url('lol.gif');
    min-height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#app {
    max-width: 40em;
    background: rgba(255, 255, 255, 0.6);
    padding: 0.3em;
    margin: auto;
}

.text-center {
    text-align: center;
}

#results {
    padding: 0;
    list-style: none;
    margin: 0;
} */
.overlay {
    position: absolute;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>⏯</text></svg>") 16 0,auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}